*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  min-width: 320px;
  background-color: rgba(223, 219, 219, 0.874);
}

